# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Local Netlify folder
.netlify

# Yarn Berry
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.yarn/build-state.yml
